/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Empty
-------------------------- */
/* Descriptions
-------------------------- */
/* Skeleton 
--------------------------*/
/* Svg
--------------- */
/* Result
-------------------------- */
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Empty
-------------------------- */
/* Descriptions
-------------------------- */
/* Skeleton 
--------------------------*/
/* Svg
--------------- */
/* Result
-------------------------- */
/* Break-point
--------------------------*/
.el-table-virtual {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  min-height: 120px;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}
.el-table-virtual .hidden-columns {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}
.el-table-virtual__header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  z-index: 2;
}

.el-table-virtual__header-main {
  overflow: hidden;
  height: 100%;
}

.el-table-virtual__header-layer {
  height: 100%;
  will-change: transform;
}

.el-table-virtual__header-row {
  white-space: nowrap;
}

.el-table-virtual__body-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

.el-table-virtual--scrollable-x .el-table-virtual__body-wrapper {
  overflow-x: auto;
}

.el-table-virtual--scrollable-y .el-table-virtual__body-wrapper {
  overflow-y: auto;
}

.el-table-virtual__phantom {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
}

.el-table-virtual__rows {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  will-change: transform;
}

.el-table-virtual__row {
  display: block;
  white-space: nowrap;
  background-color: #FFFFFF;
}
.el-table-virtual__row.hover-row, .el-table-virtual__row:hover {
  background-color: #F5F7FA;
}
.el-table-virtual__row.current-row {
  background-color: rgb(235.9, 245.3, 255);
}

.el-table-virtual__cell {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  text-align: left;
  border-bottom: 1px solid #EBEEF5;
}
.el-table-virtual__cell.is-center {
  text-align: center;
}

.el-table-virtual__cell.is-right {
  text-align: right;
}

.el-table-virtual__cell > .cell {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  line-height: 1;
}
.el-table-virtual__cell.is-sortable {
  cursor: pointer;
}

.el-table-virtual.el-table .el-table-virtual__cell {
  padding: 0;
}
.el-table-virtual.el-table .el-table-virtual__cell > .cell {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  white-space: nowrap;
  word-break: normal;
  line-height: 1;
}
.el-table-virtual__fixed-left {
  position: absolute;
  left: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.12);
}

.el-table-virtual__fixed-right {
  position: absolute;
  right: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.12);
}

.el-table-virtual__fixed-header {
  top: 0;
  height: 100%;
  z-index: 3;
}

.el-table-virtual__fixed-right-gutter {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid #EBEEF5;
  z-index: 4;
}

.el-table-virtual__fixed-body {
  z-index: 1;
  pointer-events: none;
}
.el-table-virtual__fixed-body .el-table-virtual__cell {
  pointer-events: auto;
}

.el-table-virtual__empty {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.el-table-virtual__append {
  position: relative;
  top: 0;
}

.el-table-virtual--striped .el-table-virtual__row.el-table__row--striped {
  background: #FAFAFA;
}
.el-table-virtual--striped .el-table-virtual__row.el-table__row--striped .el-table-virtual__cell {
  background: #FAFAFA;
}
.el-table-virtual--striped .el-table-virtual__row.current-row,
.el-table-virtual--striped .el-table-virtual__row.current-row .el-table-virtual__cell {
  background-color: rgb(235.9, 245.3, 255);
}
.el-table-virtual--striped .el-table-virtual__row.hover-row,
.el-table-virtual--striped .el-table-virtual__row.hover-row .el-table-virtual__cell,
.el-table-virtual--striped .el-table-virtual__row:hover,
.el-table-virtual--striped .el-table-virtual__row:hover .el-table-virtual__cell {
  background-color: #F5F7FA;
}

.el-table-virtual--border {
  border: none;
}
.el-table-virtual--border .el-table-virtual__cell {
  border-right: 1px solid #EBEEF5;
}
.el-table-virtual--border::before, .el-table-virtual--border::after,
.el-table-virtual--border .el-table-virtual__header-wrapper::before {
  content: "";
  position: absolute;
  background-color: #EBEEF5;
  pointer-events: none;
  z-index: 5;
}
.el-table-virtual--border::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.el-table-virtual--border::after {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
}
.el-table-virtual--border .el-table-virtual__header-wrapper::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.el-table-virtual--border .el-table-virtual__header-wrapper,
.el-table-virtual--border .el-table-virtual__body-wrapper,
.el-table-virtual--border .el-table-virtual__fixed-body.el-table-virtual__fixed-left {
  box-sizing: border-box;
  border-left: 1px solid #EBEEF5;
}

.el-table-virtual--small {
  font-size: 12px;
}

.el-table-virtual--mini {
  font-size: 12px;
}